# Dependencies
node_modules
.pnpm-store

# Next.js build output
.next
out

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files (pass via Docker env or secrets)
.env
.env.*
!.env.example

# VCS
.git
.gitignore

# CI configs
.github

# OS / Editor
.DS_Store
*.swp
*.swo
*.tmp
.vscode
.idea

# Docker
Dockerfile
.dockerignore
